shamefully-hoist=true
strict-peer-dependencies=false
ignore-scripts=false
node-linker=hoisted

# Allow build scripts for these packages
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=puppeteer
